body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: orangered;
}
.blue{
    color: lightcoral;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 100px;
    padding-top: 10%;
}
.link-box{
    text-decoration: none;
    background-image: linear-gradient(red,crimson);
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-page{
            background-image: url(shapes/Frame\ 58.jpg);
            background-repeat: no-repeat;
            background-size: cover;
}
.half-width-middle{
    width: 50%;
    padding-left: 200px;
    padding-right: 300px;
    padding-top: 10px;
}
.middle{
    background-image: url(shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.my-recipies{
    text-align: center;
    margin-left: 20%;
    margin-right: 10%;
}
.recipie-title{
    width: 33.33%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 3%;
}
.recipie-title img{
    width: 100%;
}
.box-shadow{
    box-shadow: 10px 10px 20px 5px crimson;
    width: 30%;
    margin-left: 5%;
    margin-right: 2%;
    border-radius: 10px;
    padding-top: 2%;
}
.Followers{
    text-align: center;
    width: 33.33%;
}
.horzontal-box{
    box-shadow: 5px 5px 30px 3px crimson;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    margin: 10%;
}
.black{ 
    width: 100%;
    height: 200px;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 4%;
}